[db]
host=nowiki.labsdb
db=nowiki_p
user=
passwd=

[mw]
host=no.wikipedia.org
user=
passwd=
clients_useragent=AncientPagesBot. Run by User:XYZ
page=Wikipedia:Stillestående sider
summary=Bot: Oppdaterer liste 

