[db]
host=nowiki.labsdb
db=nowiki_p
user=
passwd=

[mw]
host=no.wikipedia.org
client_secret=
client_token=
access_secret=
access_token=
clients_useragent=AncientPagesBot. Run by User:XYZ
page=Wikipedia:Stillestående sider
summary=Bot: Oppdaterer liste 

